<%= form_with model: photograph, local: true do |f|%>
  <div class="field">

  <div class="field">
    <%= f.label :image, "画像" %><br />
    <div id="previews"></div>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :title, "タイトル" %><br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"category"}) %>
  </div>

  <div class="field">
    <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box", id:"prefecture"}) %>
  </div>

  <div class="field">
    <%= f.label :description, "物語" %><br />
    <%= f.text_area :description, class: :form__text %>
  </div>

  <%= form_with(model: @photograph, local: true, class: "mt-4 form-column-width") do |f| %>

  <%= f.label :address, "撮影場所", class: "form-label fw-bold"%>
  <%= f.text_field :address, autofocus: true,placeholder: "住所を入力してください", class: "form-control" %>

  <% end %>

  <div class="actions">
    <%= f.submit (@photograph.new_record? ? "投稿する" : "更新する"), class: "btn btn-primary mb-4" %>
  </div>
<% end %>