<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="prototype__hedding">
        <%= @photograph.title %>
      </p>
      <%= link_to "by #{@photograph.user.nickname}", user_path(@photograph.user), class: :prototype__user %>

      <% if user_signed_in? && current_user.id == @photograph.user_id %>
        <div class="prototype__manage">
          <%= link_to "編集する", edit_photograph_path(@photograph), class: :prototype__btn %>
          <%= link_to "削除する", photograph_path(@photograph), class: :prototype__btn, data: { turbo_method: :delete } %>
        </div>
      <% end %>

      <div class="prototype__image">
        <%= image_tag @photograph.image %>
      </div>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">車種</p>
          <p class="detail__message">
            <%= @photograph.category.name %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">都道府県</p>
          <p class="detail__message">
            <%= @photograph.prefecture.name %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">思い出語り</p>
          <p class="detail__message">
            <%= @photograph.description %>
          </p>
        </div>
      </div>
      <div class="prototype__comments">
        <% if user_signed_in? %>
          <%= form_with model: [@photograph, @comment],local: true do |f|%>
            <div class="field">
              <%= f.label :content, "コメント" %><br />
              <%= f.text_field :content %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
            </div>
          <% end %>
        <% else %>
          <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です。 ※※※</p></strong>
        <% end %>
        <ul class="comments_lists">
          <% if @comments %>
            <% @comments.each do |comment| %>
              <li class="comments_list">
                <%= comment.content %>
                <%= link_to "(#{comment.user.nickname})", user_path(comment.user.id), class: :comment_user %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</main>
